{% extends "base.html" %}
{% set active_page='none' %}

{% block content %}
<h1 class="text-center">Hello {{current_user.name}} 😀 </h1>
<hr>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
        <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-{{category}}-emphasis bg-{{category}}-subtle border border-{{category}}-subtle rounded-2">{{message}}</small>
        {% endfor %}
        </div>
        {% endif %}
    {% endwith %}  
    <a type="button" class="btn btn-danger" href="{{url_for('Auth.logout')}}"> Logout</a>
</div>
{% endblock content %}